body {
    background-color: #1E2129;
}

header {
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 60px;

}

.moto {
    text-align: center;
    font-family: sans-serif;
}

.moto h2 {


    font-style: italic;
    color: #F47E7E;
    font-size: 60px;
    letter-spacing: 3px;
    word-spacing: 5px;
    border-collapse: collapse;
}

.moto p {
    font-size: 30px;
    color: #ffff;
    margin-top: -20px;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 100px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.tags a {
    background-color: #1E2129;
    padding: 8px 12px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.tags a:hover {
    background-color: #444;
}

.line {

    width: 70%;
    margin: auto;

}